.content{
    transform: translateY(9rem) translateX(-1rem);
    width:  90%;
    margin: 0rem;
    border-radius: 2rem;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: rgba( 255, 168, 17, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    display: grid;
    h1{
        transform: translateY(-1rem);
        font-size: 2rem;
        font-family: 'Raleway', sans-serif;
    }
    .p1{
        font-family: 'Raleway', sans-serif;
        grid-column: 1;
        grid-row: 2;
        color:rgb(0, 0, 0);
        padding: 2rem;
    }
    .p2{
        grid-column: 1/ span 2;
        grid-row: 3;
        font-family: 'Raleway', sans-serif;
        padding-left:15rem;
        a { 
            color: rgb(0, 0, 0);
            &:hover {
                color: coral;
                transition: 700ms;
            }
            &:visited {
                color:rgb(0, 0, 0);
                &:hover {
                    color: coral;
                    transition: 700ms;
                }
            }
        }
    }
    .p3{
        grid-column: 1/ span 2;
        grid-row: 3;
        font-family: 'Raleway', sans-serif;
        padding-left:22rem;
        a { 
            color: rgb(0, 0, 0);
            &:hover {
                color: coral;
                transition: 700ms;
            }
            &:visited {
                color:rgb(0, 0, 0);
                &:hover {
                    color: coral;
                    transition: 700ms;
                }
            }
        }
    }
}

.logo{
    width: 54%;
    margin-left: 3rem;
    margin-top: -5rem;
    grid-column: 2;
    grid-row: 2;
}

