.prj-h3 {
    text-align: center;
    color: coral;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    width: 30%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(13px);
  box-shadow: 0px 10px 33px 0px rgba($color: #000000, $alpha: 0.2);
  border-radius: 1rem;
  padding: 1rem;
  border: .2rem dotted burlywood;
}

.list{
    margin: 20px 0;
    text-align: center;
    color: coral;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 2rem;
    padding-top: 2rem;
    border: .05rem dotted burlywood;
    transform: translateX(-25px);
    border-radius: .81rem;
    backdrop-filter: blur(13px);
    box-shadow: 0px 10px 33px 0px rgba($color: #000000, $alpha: 0.6);
    list-style-type: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-decoration: none;a:visited { text-decoration: none; color:coral; }
    a:hover { text-decoration: none; color:blue; }
    a:focus { text-decoration: none; color:yellow; }
    a:hover, a:active { text-decoration: none; color:white }
}
ul{
    margin-top: 1rem;
    padding-top: 1rem;
}

h4{
    color: cornsilk;
    padding: 1rem;
}

.projects{
    padding-bottom: 18rem;
}

a{
    text-decoration: none;
    
}