
.list{
    margin: 2rem;
    text-align: center;
    color: coral;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    padding: 2rem;
    list-style-type: none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-decoration: none;a:visited { text-decoration: none; color:coral; }
    a:hover, a:active { text-decoration: none; color:black}
    transition-duration: .51s;
    .pic{
        width: 30%;
    }
    .pic1{
        width: 31%;
    }
    .pic3{
        width: 34%;
    }
}
#prx{
    width: 98%;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}
#prx::-webkit-scrollbar {
    background-color: rgb(255, 255, 255);
    height: 7px;
    border-radius: 10rem;
}
#prx::-webkit-scrollbar-thumb {
    background-color:rgb(0, 0, 0);
    border-radius: 10rem;
}


h4{
    color:black;
    font-size: small;
    padding: 1rem;
}

#projects{
    padding-top: 5rem;
    padding-bottom: 10rem;
    text-align: center;
}

a{
    text-decoration: none;
    
}
