.info{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    font-size: 2rem;
    backdrop-filter: blur(111px);
    
}
h2{
    color: whitesmoke;
    font-family: 'monospace';
    font-weight: 100;
    
    padding: 1rem;
    font-size: 2rem;
}

.tech{
    width: 66%;
}

