

.heading{
    text-align: center;
    font-size: 2rem;
}
.post{
    transform: translateY(-120px);
    height: 100%;
    text-align: center;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 30% 80%;
}


.dog,.dog1,.dog2,.dog4,.menu1{
    width: 60%;
    padding: 1rem;
    transform: translateY(90px);
}

.part1{
   p{
    transform: translateY(130px);
    margin-left:-2rem;
    margin-right: -5rem;
   }
}
.part2{
    transform: translateY(5rem);
    margin-left: -2rem;
    margin-right: -3rem;
    padding-bottom: 2rem;
}
a{
    color: rgb(0, 0, 0);
            &:hover {
                color: coral;
                transition: 700ms;
            }
}