.slogan{
    padding-top: 10rem;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.landing{
    font-size: 3rem;
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 8em
}
.landing-text{
    text-align: center;
    color: black;
    margin-top: -3rem;
    font-weight: 100;
}

.landing:after{
    content: "";
    display: block;
    clear: both;
}
.vid{
    transform: translateX(50%);
    width: 50%;
    margin-bottom: 6rem;
    border: white;
}
  .description{
      text-align: center;
  }