.slogan{
    padding-top: 10rem;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.landing{
    font-size: 3rem;
    color: black;
}
.landing-text{
    color: black;
    margin-top: -3rem;
    font-weight: 100;
}
