.button{
    position: relative;
    width: 14em;
    background-color: transparent;
    border: transparent;
    padding-top: 1rem;
    padding-bottom: 15rem;
}
.button:active, .button:focus {
    outline: 0;
    animation: shake 0.9s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  }
.overlay{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(241, 133, 60);
    opacity: 0;
    transition: opacity 0.5s;
}
.overlay:hover{
    opacity: 1;
}
.overlay:hover > * {
    transform: translateY(-6rem);
}
.overlay > * {
    margin-top: auto;
    transform: translateY(-5rem);
    transition: transform 1.5s;
}
.overlay--blur {
    backdrop-filter: blur(2px);
}


.title{
    font-size: 2rem;
    font-weight: bold;
}
.overlay_desc{
    font-size: 1.25rem;
    margin-top: 0.25rem;
}
.button:hover{
    opacity: .88;
    cursor: pointer;
    

}
.landing-text{
    display: grid;
    width: 88%;
    margin: 1rem;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-top: -10rem;
}

.landing-text h2{
    grid-column: 2/ span 4;
    grid-row: 1;
    font-size: 9rem;
    font-family: monospace ;
    font-weight: lighter;
    background: linear-gradient(to bottom, #ffe838, #fd6257);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
}
.landing-text h3{
    margin-top: -5rem;
    margin-right: 5rem;
    grid-column: 3/ span 2;
    grid-row: 2;
    font-size: 2.5rem;
    font-family: monospace ;
    font-weight: lighter;
    color: black;
    text-align: right;
}
.landing-text h4{
    grid-column: 5;
    grid-row: 3;
    font-size: 1.5rem;
    margin-top: 1rem;
    width: 88%;
    font-family: monospace ;
    font-weight: lighter;
    color: whitesmoke;
    text-align: right;
}
.icons-h5{
    padding-top: 5rem;
    font-size: 2.5rem;
    font-family: monospace;
    font-weight: 100;
    background: linear-gradient(to bottom, #ffe838, #fd6257);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;   
    

    

    -webkit-animation: fadein 13s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 13s; /* Firefox < 16 */
        -ms-animation: fadein 13s; /* Internet Explorer */
         -o-animation: fadein 13s; /* Opera < 12.1 */
            animation: fadein 13s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
    

.down{
    background-color: transparent;
    border: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    animation: blinker 2s infinite;
    padding-top: 2rem;
}


.about{
    display: grid;
    place-content: center;
}



.main{
    transition: backdrop-filter 22s;
    backdrop-filter: blur(2px);
    border-radius: 2rem;
}

.main:hover{
    transition: 6s ease-out ;
    backdrop-filter: blur(44px);
    border-radius: 2rem;
    
}



@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes blinker {
    80%{    
    opacity: 0.2;
  }
}

.landing-text h3{
    animation: 2s ease-out 0s 1 slideInFromRight;
}
  .landing-text h2{
      animation: 2s ease-out 0s 1 slideInFromLeft;
  }
.landing-text h4{
    animation: fadein 8s;
}