.header{
    position: fixed;
    top: 0;
    width: 120%;
    background-color: white;
    z-index: 999;
    .logo{
        width: 32rem;
        margin-left: -5rem;
        padding-top: 4rem;
    }
    .menu-list{
        list-style-type: none;
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(-1rem) translateY(2rem);
        font-family: 'Raleway', sans-serif;
        
        a { 
            color: rgb(0, 0, 0);
            &:hover {
                color: coral;
                transition: 700ms;
            }
        }
    }
    ul>li{
        display: inline-block;
        margin-left: 1rem;
    }
}
.landing:after{
    content: "";
    display: block;
    clear: both;
}
